*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to top, #036114, #07FA34);
}
.cabeca{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-right: 10px;
}

.cabeca > img{
    height: 20vh;
    padding: 15px;
    
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10px ;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 40vw;
    height: 60vh;

}

.corpo p {
    padding: 4px;
    
}

.corpo p:nth-child(odd){
    background-color: rgba(112, 108, 108, 0.5);
}

.final{
    display: flex;
    width: 65vw;
    height: 10vh;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* tamalho celulcar */
@media (min-width:320px) and (max-width:480px) {
     body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
     }

     .cabeca > h1{
        font-size: 15px;
     }
     
     .corpo{
        height: 42vh;
     }

     .corpo p{
        font-size: 5px;
     }

    }
/* tamalho tablet */
@media (min-width:481px) and (max-width:768px) {
    .corpo p {
        font-size: 11px;
    }
}
/* tamanho laptop */
@media (min-width:769px) and (max-width:1024) {
    
}